.idea/
.vscode/
.mypy_cache
__pycache__/
*.pyc
.DS_Store

output/
.caches
data2
output2
notebook
.ipynb_checkpoints
.ipynb

text_renderer.egg-info/
workspace
workspace2
*.zip
*.ttf
*.TTF 
*.otf
*.DS_Store
__MACOSX
example_data/dev
*.json
output_dots
output_boxes
output_checkmarks
*tar.gz
foo*
example_data/bg